[Unit]
Description=Telegram Bot
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/tg/
ExecStart=/root/tg/venv/bin/python3 /root/tg/bot.py
RestartSec=5
Restart=always

[Install]
WantedBy=multi-user.target
